{% extends "template.html" %}
{% block conteudo %}

<!--<p>Partidas</p>
{% for partida in lista_partidas_new %}
<p>{{ partida.ano }} {{ partida.jogo }} {{ partida.time1 }} {{ partida.img1 }}</p>
{% endfor %}

<p>Times</p>
{% for time in listat %}
<p>{{ time.nome }}</p>
{% endfor %}-->

<div id="sectionjl">
<h2>Últimos Jogos</h2>

<table id="jogo">
  <tr>
    <th width=10%>Data</th>
    <th width=30%></th>
    <th width=10%>Placar</th>
    <th width=30%></th>
    <th width=20%>Fase</th>
  </tr>
    {% for partida in lista_partidas_old %}
    <tr>
      <td style="text-align:center; font-size:small">{{ partida.data.strftime('%d/%m') }}<br />{{ partida.data.strftime('%H:%M') }}</td>
      <td style="text-align:right">{{ partida.time1 }} <img class="flag" src={{ partida.img1 }}> </td>
      <td style="text-align:center"> {{ partida.pl1 }}x{{ partida.pl2 }}</td>
      <td><img class="flag" src={{ partida.img2 }} > {{ partida.time2 }}</td>
      <td style="text-align:right; font-size:small">{{ partida.comp }} {{ partida.fase }}</td>
    </tr>
    {% endfor %}
</table>

<p>Veja mais sobre os <a src="/jogos">últimos jogos</a></p>

</div>

<div id="sectionjl">
<h2>Próximos Jogos</h2>
<table id="jogo">
  <tr>
    <th width=10%>Data</th>
    <th width=32%></th>
    <th width=6%></th>
    <th width=32%></th>
    <th width=20%>Fase</th>
  </tr>
    {% for partida in lista_partidas_new %}
    <tr>
      <td style="text-align:center; font-size:small">{{ partida.data.strftime('%d/%m') }}<br />{{ partida.data.strftime('%H:%M') }}</td>
      <td style="text-align:right">{{ partida.time1 }} <img class="flag" src={{ partida.img1 }}> </td>
      <td style="text-align:center"> x </td>
      <td><img class="flag" src={{ partida.img2 }} > {{ partida.time2 }}</td>
      <td style="text-align:right; font-size:small">{{ partida.comp }} {{ partida.fase }}</td>
    </tr>
    {% endfor %}
</table>
<p>Veja mais sobre os próximos jogos</p>
</div>


<div id="section3">
<h2>Ranking atual</h2>

<table id="ranking">
  <tr>
    <th width=5%>#</th>
    <th width=75%>País</th>
    <th width=15% style="text-align:center">Pontos</th>
    <th width=5% style="text-align:center">Sobe/desce</th>
  </tr>
    {% for time in lista_ranking %}
  <tr>
    <td>{{ time.pos }}</td>
    <td><img class="flag" src={{ time.ilink }} > {{ time.nome }}</td>
    <td style="text-align:center">{{ time.pontos }}</td>
    <td style="text-align:center"> <img class="flag" src={{ time.irank }}> {{ time.sobdes }}</td>
  </tr>

    {% endfor %}
</table>

<p>Veja mais sobre o Ranking Atual</p>

</div>

{% endblock %}
