<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gokopa do Mundo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">  </head>
  <body>
    <div class="container">
        <div class="header">
            <h1>Gokopa do Mundo</h1>
        </div>

        <ul class="nav">
          <li id="nav"><a {% if menu=='Home' %}class="active"{% endif %} href="/">Home</a></li>
          <li id="nav"><a {% if menu=='Jogos' %}class="active"{% endif %}href="/jogos">Jogos</a></li>
          <li id="nav"><a {% if menu=='Tabela' %}class="active"{% endif %}href="/tabela18">Tabela</a></li>
          <li id="nav"><a {% if menu=='Ranking' %}class="active"{% endif %}href="/ranking">Ranking</a></li>
        </ul>

                {% block conteudo %}{% endblock %}
    </div>

    <div id="footer">
    Página criada para acompanhar a gokopa do mundo e apostar nos bolões !
    </div>

    </body>
</html>
