<!doctype html>
<html lang="pt-br">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script language="javascript">

        function toggle() {
    
            var ele = document.getElementById("toggleText");
            var text = document.getElementById("displayText");
    
            if (ele.style.display == "block") {
    
                ele.style.display = "none";
                text.innerHTML = "mostrar mais";
            }
            else {
    
                ele.style.display = "block";
                text.innerHTML = "esconder";
            }
        }
    </script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gokopa do Mundo</title>

        <!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">    
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        {% if tipo == 'cp' %}
          <link rel="stylesheet" href="{{ url_for('static', filename='css/estilocopa.css') }}">
        {% endif %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark menu">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a {% if menu=='Home' %}class="active"{% endif %} href="/{{ tipo }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a {% if menu=='Tabela' %}class="active"{% endif %}href="/{{ tipo }}/tabela">Tabela</a>
                  </li>
                {% if tipo == 'gk' %}
                <li class="nav-item"><a {% if menu=='Ranking' %}class="active"{% endif %}href="/gk/ranking">Ranking</a></li>
                <li class="nav-item"><a {% if menu=='Historico' %}class="active"{% endif %}href="/gk/historico">Histórico</a></li>
                {% else %}
                <li class="nav-item"><a {% if menu=='Regras' %}class="active"{% endif %}href="/cp/regras">Regras</a></li>
                {% endif %}
                <li class="nav-item"><a {% if menu=='Bolao' %}class="active"{% endif %}href="/{{ tipo }}/bolao">Bolão</a></li>
                {% if tipo == 'gk' %}
                <li class="nav-item"><a {% if menu=='Moedas' %}class="active"{% endif %}href="/gk/moedas">Moedas</a></li>
                {% endif %}
                <li class="nav-item"><a {% if menu=='Sobre' %}class="active"{% endif %}href="/{{ tipo }}/sobre">Sobre</a></li>
                
                <li class="nav-item">
                    {% if session['username'] %}<a href="/{{ tipo }}/logout">Logout</a>
                    {% else %}<a {% if menu=='Login' %}class="active"{% endif %} href="/{{ tipo }}/login">Login</a>
                {% endif %}</li>
                </ul>
              </div>
            </div>
        </nav>     
        
        {% block content %}
        {% endblock %}
        
        <p>&nbsp;</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <div class="footer">
            Gokopa do Mundo v1.3.6
        </div> -->
    
    </body>