<!doctype html>
<html lang="pt-br">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script language="javascript">

        function toggle() {
    
            var ele = document.getElementById("toggleText");
            var text = document.getElementById("displayText");
    
            if (ele.style.display == "block") {
    
                ele.style.display = "none";
                text.innerHTML = "mostrar mais";
            }
            else {
    
                ele.style.display = "block";
                text.innerHTML = "esconder";
            }
        }
    </script>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gokopa do Mundo</title>

        <!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">    
        -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
        {% if tipo == 'cp' %}
          <link rel="stylesheet" href="{{ url_for('static', filename='css/estilocopa.css') }}">
        {% endif %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    </head>
    <body>
        <!--<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('gokopa.index',tipo=tipo) }}">Início</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav px-3">
                <a class="nav-link" href="{{ url_for('usuario.logout',tipo=tipo) }}">Logout</a>
            </div>
        </header>
         navbar  -->
        <header class="menu">
            <nav width="100%">
              <ul>
                <li ><a {% if menu=='Home' %}class="active"{% endif %} href="/{{ tipo }}">Home</a></li>
                <li ><a {% if menu=='Tabela' %}class="active"{% endif %}href="/{{ tipo }}/tabela">Tabela</a></li>
                {% if tipo == 'gk' %}
                <li ><a {% if menu=='Ranking' %}class="active"{% endif %}href="/gk/ranking">Ranking</a></li>
                <li ><a {% if menu=='Historico' %}class="active"{% endif %}href="/gk/historico">Histórico</a></li>
                {% else %}
                <li ><a {% if menu=='Regras' %}class="active"{% endif %}href="/cp/regras">Regras</a></li>
                {% endif %}
                <li ><a {% if menu=='Bolao' %}class="active"{% endif %}href="/{{ tipo }}/bolao">Bolão</a></li>
                <li style="float: right">
                    {% if session['username'] %}<a href="/{{ tipo }}/logout">Logout</a>
                    {% else %}<a {% if menu=='Login' %}class="active"{% endif %} href="/{{ tipo }}/login">Login</a>
                {% endif %}</li>
                <li ><a {% if menu=='Contato' %}class="active"{% endif %}href="/{{ tipo }}/contato">Contato</a></li>
              </ul>
            </nav>
          </header>
      
        
        {% block content %}
        {% endblock %}
        
        <p>&nbsp;</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="footer">
            Gokopa do Mundo v1.3.1
        </div>
    
    </body>