{% extends "base.html" %}
{% block content %}
<div class="sectionj">
  <h2>Bolão</h2>
  <p>Bolão da Gokopa, ano 20.</p>
</div>

<div class="row scoll-pane">

  <div class="sectionj col-12 col-sd-12 col-md-8 col-lg-8 col-xl-8">
    <h3>Minhas apostas</h3>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
      <div class="alert alert-success" role="alert">
          {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}

    {% if userlogado %}
      {% if lista_jogos %}
        <table class="tab_gokopa meubolao">
            <tr>
              <th colspan="2">Jogo</th>
              <th>Aposta</th>
            </tr>
          {% for jogo in lista_jogos %}
            <tr>
              <td>J:{{ jogo['Jogo'] }} {{ jogo['Data'] }}</td>
              <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td>
              <td></td>
            </tr><tr>
              <td colspan="2">{{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                x <img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}</td>
              <td>{% if jogo['bet1'] %}{{ jogo['bet1'] }}x{{ jogo['bet2'] }} <a target="_blank" href="{{ url_for('bolao.edit_aposta',idjogo=jogo['Jogo']) }}">Editar</a>
                {% else %}<a target="_blank" href="{{ url_for('bolao.edit_aposta',idjogo=jogo['Jogo']) }}">Apostar</a>
              {% endif %}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}<p class="center">Não há jogos para apostar.</p>
      {% endif %}
    {% else %}<p class="center">Você não está logado.</p>
    {% endif %}
  </div>


  <div class="sectionj col-12 col-sd-12 col-md-4 col-lg-4 col-xl-4">
      <h3>Resultado geral</h3>
        {% if resultados %}
        <table class="tab_gokopa">
          <tr>
            <th title="Posição">#</th>
            <th style="min-width: 100px;">Nome</th>
            <th style="min-width: 50px;">Score</th>
            <th title="Placar Cheio" style="min-width: 50px;">P.C.</th>
            <th title="Último dia" style="min-width: 50px;">1d</th>
            <th title="Última semana" style="min-width: 50px;">1w</th>
          </tr>
          {% set ns = namespace(last_p=1,last_score=0,last_pc=0) %}
          {% for p in total | sort(attribute='pc', reverse = True) | sort(attribute='score', reverse = True) %}
          <tr>
            <td>{{ p['posicao'] }}</td>
            <td>{{ p['nome'] }}</td>
            <td>{{ p['score'] }}</td>
            <td>{{ p['pc'] }}</td>
            <td>{% if p['last_day'] > 0 %}
                  {% if p['last_day'] > p['posicao'] %}<img class="flag updown" src="static/img/up.png">
                  {% elif p['posicao'] == p['last_day'] %}<img class="flag updown" src="static/img/steady.png">
                  {% else %}<img class="flag updown" src="static/img/down.png">
                  {% endif %}{{ p['last_day'] - p['posicao'] }}
                {% else %}-
                {% endif %}
            </td>
            <td>{% if p['last_week'] > 0 %}
                  {% if p['last_week'] > p['posicao'] %}<img class="flag updown" src="static/img/up.png">
                  {% elif p['posicao'] == p['last_week'] %}<img class="flag updown" src="static/img/steady.png">
                  {% else %}<img class="flag updown" src="static/img/down.png">
                  {% endif %}{{ p['last_week'] - p['posicao'] }}
                {% else %}-
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
  </div>
   
</div>

<div>
      <p>&nbsp;</p><p class="center">Resultado Detalhado</p>

     <table class="tab_gokopa smallt">
          <tr>
            <th>#</th>
            <th>Jogo</th>
            {% for u in users %}
            <th colspan="3">{{ u }}</th>
            {% endfor %}
          </tr>
        {% for jogo in resultados|sort(attribute='Jogo', reverse = True) %}
          <tr>
          <td title="{{ jogo['Data'] }}">{{ jogo['Jogo'] }}</td>
          <td>{{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
            {{ jogo['p1'] }}x{{ jogo['p2'] }} <img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}</td>
          {% for u in users %}
            <td>{{ jogo[u][0] }}</td>
            <td>{{ jogo[u][1] }}</td>
            <td>{{ jogo[u][2] }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
      {% else %}<p class="center">Não há resultados para mostrar.</p>
      {% endif %}
</div>

{% endblock %}
