{% extends "base.html" %}
{% block content %}
<div>
  <div class="sectionj">
    <h2>Bolão</h2>
    <p>Edição de aposta</p>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
      {% if jogo %}
        <p>Fase do jogo: {{ jogo['Competição'] }} - {{ jogo['Fase'] }}</p>
        <p>Data: {{ jogo['Data'] }}</p>
        <form action="{{ url_for('bolao.edit_aposta') }}" method="post">
          <input type="hidden" name="jogoid" value="{{ jogo['Jogo'] }}" id="jogoid" class="form-control" placeholder="Id do Jogo" required>
          <input type="hidden" name="data" value="{{ jogo['Data'] }}" id="data" class="form-control" placeholder="Data" required>
          <input type="hidden" value="{{ nextbet }}" name="nextbet" id="nextbet">
          {{ jogo['Time1'] }} <img class="flag" src="../static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
          <input maxlength="2" size="2" width="20" type="number" name="p1" value="{{ a1 }}" id="p1" required autofocus>
          x
          <input maxlength="2" size="2" width="20" type="number" name="p2" value="{{ a2 }}" id="p2" required autofocus>
          <img class="flag" src="../static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ jogo['Time2'] }}
          <p>&nbsp;</p>  
          <p>Ranking das equipes: {{ r1 }} e {{ r2 }}</p>
          {% if faixavit %}
          <p>Em caso de empate, indique o time vencedor.</p>
          <div class="row form-group">
            <div class="col-sm-6 md-12 text-center">
              <input class="form-check-input" type="radio" name="vitradio" id="vit1" value="0">
              <label class="form-check-label" for="vit1">{{ jogo['Time1'] }} </label>
            </div>
            <div class="col-sm-6 md-12 text-center">
              <input class="form-check-input" type="radio" name="vitradio" id="vit2" value="1">
              <label class="form-check-label" for="vit2">{{ jogo['Time2'] }} </label>
            </div>
          </div>
          {% endif %}
            
          <button class="w-50 btn btn-lg btn-primary m-3" type="submit">Salvar</button>
        </form>
      {% else %}<p>Não há mais novos jogos para apostar.</p>
      {% endif %} 
  </div>

</div>
{% endblock %}
