{% extends "base.html" %}
{% block content %}

<div class="container-sm mt-3">
<h2>Histórico</h2>
<div class="row justify-content-md-center"><div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }} text-center " role="alert">
      {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div></div>

<div class="row scoll-pane">

    <div class="col-12 col-sd-12 col-md-6 col-lg-6 col-xl-8 text-center">
        <h4>Histórico de duelos</h4>
        {% if vev %}
        <table class="tab_gokopa tabp5">
          <tr>
            <td>V. <img class="flag" src="../static/img/flag/{{ time1['nome'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ time1['nome'] }}</td>
            <td>{{ vev[0] }}</td>
          </tr>
          <tr>
            <td>Empates</td>
            <td>{{ vev[1] }}</td>
          </tr>
          <tr>
            <td>V. <img class="flag" src="../static/img/flag/{{ time2['nome'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ time2['nome'] }}</td>
            <td>{{ vev[2] }}</td>
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td><b>{{ vev[3] }}</b></td>
          </tr>
        </table>
        {% endif %}
            <p>Escolha dois times para verificar histórico de confrontos.</p>
            <form action="{{ url_for('gokopa.historico') }}" method="post">
              <label for="browser">Confronto:</label>
              <input list="times" name="time1" id="time1"> x <input list="times" name="time2" id="time2">
              <datalist id="times">
              {% for i in lista_times %}
                <option value="{{ i }}">
              {% endfor %}
              </datalist>
              <br>
                
              <button class="w-20 btn btn-lg btn-primary m-2" type="submit">Buscar</button>
            </form>
    </div>

    <div class="col-12 col-sd-12 col-md-6 col-lg-6 col-xl-4 text-center">
      <h2>Confrontos</h2>
    
      {% if lista_jogos %}
      <table class="tab_gokopa tab_jogos">
    
        {% for jogo in lista_jogos %}
          <tr>
            <td>Ano {{ jogo['Ano'] }} Jogo {{ jogo['Jogo'] }}</td>
            <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td>
          </tr>
          <tr>
            <td colspan="2">
                {{ jogo['Time1'] }} <img class="flag" src="../static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                {% if jogo['pe1'] %}
                  <b title="tr: {{ jogo['tr1'] }}x{{ jogo['tr2'] }} pe: {{ jogo['pe1'] }}x{{ jogo['pe2'] }}">{{ jogo['p1'] }}x{{ jogo['p2'] }}</b>
                {% elif jogo['tr1'] %}
                  <b title="tr: {{ jogo['tr1'] }}x{{ jogo['tr2'] }}">{{ jogo['p1'] }}x{{ jogo['p2'] }}</b>
                {% else %}{{ jogo['p1'] }}x{{ jogo['p2'] }}
                {% endif %}
                 <img class="flag" src="../static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ jogo['Time2'] }}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% else %}<p>Não há jogos para mostrar.</p>
      {% endif %}
    
    </div>


  
  </div>

{% if vev %}
  <div class="row scoll-pane justify-content-md-center">

    <div class="col-12 col-sd-12 col-md-10 text-center">

      <h4>Histórico de posições na copa</h4>
      <table class="tab_gokopa tabp5">
        <tr>
          <td>Edição:</td>
          {% for i in range(0,22)|reverse %}
          <td>
            {{ i+1 }}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>
            <img class="flag" src="../static/img/flag/{{ time1['nome'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ time1['nome'] }}
          </td>
          {% for i in range(0,22)|reverse %}
          <td>
            {% if time1['hc'][i]|int != 0 %}<b>{{ time1['hc'][i] }}</b>
            {% else %}{{ time1['hc'][i] }}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        <tr>
          <td>
            <img class="flag" src="../static/img/flag/{{ time2['nome'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ time2['nome'] }}
          </td>
          {% for i in range(0,22)|reverse %}
          <td>
            {% if time2['hc'][i]|int != 0 %}<b>{{ time2['hc'][i] }}</b>
            {% else %}{{ time2['hc'][i] }}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      </table>
      <p>Legenda: "-" (não participou), "e" (eliminatórias), "t" (taça regional)</p>

        <h4>Histórico de posições nos rankings</h4>
        {% set times = [ time1["nome"] , time2["nome"] ] %}
        {% set datag = [ time1["hr"], time2["hr"] ] %}
        <div width="99%" height="40vh"><canvas id="grafico" style="position: relative; text-align: center; display: unset;"></canvas></div>
        <script>

          var labelsgr = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22'];
          const colors = ['#3e95cd','#d19c2a'];
          let nomes = {{ times | safe }}; 
          let datagr = {{ datag | safe }};
          
          myLineChart= new Chart(document.getElementById("grafico"), {
            type: 'line',
            data: {
              labels: labelsgr,
              datasets: [
                {
                  data: datagr[0],
                  label: nomes[0],
                  borderColor: colors[0],
                  fill: false
                }, {
                  data: datagr[1],
                  label: nomes[1],
                  borderColor: colors[1],
                  fill: false
                }
              ]
            },
            options: {
              responsive: true,
              resizeDelay: 200,
              //maintainAspectRatio: true,
              spanGaps: true,
              scales: {
                yAxes: [{
                  ticks: { reverse: true }
                }]
              },
              title: {
                display: true,
                text: 'Posição em cada ano'
              },
              hover: {
              mode: 'index',
              intersect: true
              },
              labels: {
                boxWidth: 20
              }
            }
          });

          // function getDataset(index, data) { 
          //   return { 
          //     data: datagr[0],
          //         label: nomes[0],
          //         borderColor: colors[0],
          //         fill: false
          //   }; 
          // }

          // for(let i=0;i<2;i++){
          //     myLineChart.data.datasets.push({
          //       data: datagr[i],
          //       label: nomes[i],
          //       borderColor: colors[i],
          //       fill: false
          //         });
          // }

        </script>

    </div>
  </div>
{% endif %}
</div>
{% endblock %}