{% extends "base.html" %}
{% block content %}

<div class="row scoll-pane">

<div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-4">
  <h2>Últimos Jogos</h2>

  <table class="tab_gokopa tab_jogos">

    {% for jogo in past_jogos %}
      <tr>
        <td title="{{ jogo['Jogo'] }}">{{ jogo['Data'] }}</td>
        <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td>
      </tr>
      <tr>
          <!-- <td>{{ jogo['Data'] }}</td>
          <td>{{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'"></td>
          <td>{{ jogo['p1'] }}x{{ jogo['p2'] }}</td>
          <td><img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}</td>
          <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td> -->
        <td colspan="2">
            {{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
            {% if jogo['pe1'] %}
              <b title="tr: {{ jogo['tr1'] }}x{{ jogo['tr2'] }} pe: {{ jogo['pe1'] }}x{{ jogo['pe2'] }}">{{ jogo['p1'] }}x{{ jogo['p2'] }}</b>
            {% elif jogo['tr1'] %}
              <b title="tr: {{ jogo['tr1'] }}x{{ jogo['tr2'] }}">{{ jogo['p1'] }}x{{ jogo['p2'] }}</b>
            {% else %}{{ jogo['p1'] }}x{{ jogo['p2'] }}
            {% endif %}
             <img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}
        </td>
      </tr>
    {% endfor %}
  </table>

</div>

<div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-4">
  <h2>Próximos Jogos  </h2>
  {% if next_jogos %}
  <!-- <table class="jogos tab_gokopa">
    <tr>
      <th width=10%>Data</th>
      <th width=32%></th>
      <th width=4%></th>
      <th width=32%></th>
      <th width=22%>Fase</th>
    </tr>
    {% for jogo in next_jogos %}
      <tr>
        <td>{{ jogo['Data'] }}</td>
        <td>{{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'"></td>
        <td>x</td>
        <td><img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}</td>
        <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td>
      </tr>
    {% endfor %}
  </table> -->
  <table class="tab_gokopa tab_jogos">

    {% for jogo in next_jogos %}
      <tr>
        <td title="{{ jogo['Jogo'] }}">{{ jogo['Data'] }}</td>
        <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td>
      </tr>
      <tr>
          <!-- <td>{{ jogo['Data'] }}</td>
          <td>{{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'"></td>
          <td>{{ jogo['p1'] }}x{{ jogo['p2'] }}</td>
          <td><img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}</td>
          <td>{{ jogo['Competição'] }} {{ jogo['Fase'] }}</td> -->
        <td colspan="2">
            {{ jogo['Time1'] }} <img class="flag" src="static/img/flag/{{ jogo['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
            x
             <img class="flag" src="static/img/flag/{{ jogo['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ jogo['Time2'] }}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}<p class="center">Não existem próximos jogos cadastrados.</p>
  {% endif %}
</div>


<div class="sectionj col-12 col-sd-12 col-md-6 col-lg-4 col-xl-4">
  <h2>Classificados</h2>
  <p>Lista dos já classificados para a Gokopa20. Os melhores de cada campeonato regional, e os dois donos da casa, se classificam.</p>
  
  <div class="row">
    <div class="col-12"><h5>Europa</h5></div>
      {% for time in classificados[0] %}
        {% if time['nome'] == x %}
        <div class="col-6 time-destaque"><img class="flag" src='static/img/flag/default.png'></div>
        {% else %}
        <div class="col-6 time-destaque"><img class="flag" src="static/img/flag/{{ time['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ time['nome'] }}</div>
        {% endif %}
      {% endfor %}
  </div>

  <div class="row">
    <div class="col-12"><h5>África</h5></div>
    {% for time in classificados[1] %}
      {% if time['nome'] == x %}
      <div class="col-6 time-destaque"><img class="flag" src='static/img/flag/default.png'></div>
      {% else %}
      <div class="col-6 time-destaque"><img class="flag" src="static/img/flag/{{ time['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ time['nome'] }}</div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12"><h5>Ásia-Oceania</h5></div>
    {% for time in classificados[2] %}
      {% if time['nome'] == x %}
      <div class="col-6 time-destaque"><img class="flag" src='static/img/flag/default.png'></div>
      {% else %}
      <div class="col-6 time-destaque"><img class="flag" src="static/img/flag/{{ time['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ time['nome'] }}</div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-12"><h5>América</h5></div>
    {% for time in classificados[3] %}
      {% if time['nome'] == x %}
      <div class="col-6 time-destaque"><img class="flag" src='static/img/flag/default.png'></div>
      {% else %}
      <div class="col-6 time-destaque"><img class="flag" src="static/img/flag/{{ time['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ time['nome'] }}</div>
      {% endif %}
    {% endfor %}
  </div>
  <p>&nbsp;</p>

</div>
{% endblock %}
