{% extends "base.html" %}
{% block content %}

<div class="texto">
  <h2 class="center">Moedas</h2>
  <p>Aqui você pode gerenciar suas moedas de investimentos em seus times favoritos. Diariamente os leilões são processados e os retornos dos investimentos dos jogos do dia também.</p>
  <p>Atue como patrocinador (ganhando moedas + patrimônio) ou como apoiador livre. Saldo livre no fim do dia poderá ser penalizado.</p>
</div>

<div class="row scoll-pane">
<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <hr>
    <h2>Área do jogador</h2>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %} {% endif %} {% endwith %}
    {% if info["userlogado"] %}
    <table class="tab_gokopa tab_jogos mb-3">
        <tr>
            <td>Saldo de Moedas</td>
        </tr>
        <tr>
            <td>{{ user_info['saldo'] }} 🪙</td>
        </tr>
    </table>

    {% if user_info["lista_livre"] %}
    <h4 class="m-3 text-center">Tentar patrocinar</h4>
    <form action="{{ url_for('moedas.addpat') }}" method="post">
        <div class="row mb-2">
            <div class="col-sm-6 text-sm-end">
                <label for="time1">Selecione um time:</label>
            </div>
            <div class="col-sm-6 text-sm-start">
                <input type="hidden" name="timename" value="" id="timename">
                <select list="times" name="time1" id="time1" onchange="update_minimo()">
                    {% for i in user_info["lista_livre"] %}
                        <option value="{{ i['valor'] }}" label="{{ i['time'] }}">{{ i['time'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div><div class="row mb-3">
            <div class="col-sm-6 text-sm-end">
                <label for="valor_pat">Valor:</label>
            </div>
            <div class="col-sm-6 text-sm-start">
                <input style="max-width: 5rem" type="number" name="valor_pat" id="valor_pat" width="10px" value="0" min="0" max="{{ user_info['saldo'] }}">
            </div>
            <div class="col-12 text-center m-3"><button type="submit" class="btn btn-outline-primary">Tentar investimento</button></div>
        </div>
        
    </form>
    {% endif %}

    {% if user_info['tentarpat'] %}
    <h4 class="m-3 text-center">Tentativas enviadas</h4>
    <ul class="list-group text-center">
        {% for item in user_info['tentarpat'] %}
        <li class="list-group-item">{{ item['valor'] }}🪙 <img class="flag" src="../static/img/flag/{{ item['time'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ item['time'] }} 
            <form style="display: inline" action="{{ url_for('moedas.removepat') }}" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm">X</button>
            <input type="hidden" name="time_pat" value="{{ item['time'] }}" id="time_pat">
            <input type="hidden" name="valor_pat" value="{{ item['valor'] }}" id="valor_pat">
            </form></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user_info['lista_leilao'] %}
    <h4 class="m-3 text-center">Leilão a processar</h4>
    <ul class="list-group text-center">
        {% for item in user_info['lista_leilao'] %}
        <li class="list-group-item">{{ item['valor'] }}🪙 {{ item['nome'] }} <img class="flag" src="../static/img/flag/{{ item['time'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ item['time'] }}</li>
        {% endfor %}
    </ul>
    {% endif %}




    <script type="text/javascript">
        function update_minimo() {
            var select = document.getElementById('time1');
            var option = select.options[select.selectedIndex];
    
            document.getElementById('valor_pat').value = option.value;
            document.getElementById('valor_pat').min = option.value;
            document.getElementById('timename').value = option.label;
        }
    
        update_minimo();
    </script>

    {% else %}
    <p>Você não está logado ou não tem acesso ao jogo de moedas.</p>
    {% endif %}

    <hr>
</div>


<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <h2>Patrocínios e apoios</h2>
    {% if info['patrocinados'] %}
    <div class="row">{% for t in info['patrocinados'] %}
    <div class="card {% if t['patrocinador'] == info['username'] %}text-bg-secondary{% else %}text-bg-light{% endif %} mb-3 col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4" style="max-width: 25rem;">
        <div class="card-header">{% if t['patrocinador'] == info['username'] %}<b>{{ t['patrocinador'] }}</b>{% else %}{{ t['patrocinador'] }}{% endif %}</div>
        <div class="card-body">
          <h5 class="card-title"><img class="flag" src="../static/img/flag/{{ t['time'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ t['time'] }} {{ t['valor'] }}🪙</h5>
          <p class="card-text">Próximo jogo: {% if t['next_jogo']['t1'] == '-' %}?{% else %}<img class="miniflag" title="{{ t['next_jogo']['t1'] }}" src="../static/img/flag/{{ t['next_jogo']['t1'] }}.png" onerror="this.src='../static/img/flag/default.png'">x<img class="miniflag" title="{{ t['next_jogo']['t2'] }}" src="../static/img/flag/{{ t['next_jogo']['t2'] }}.png" onerror="this.src='../static/img/flag/default.png'">{% endif %}
            <br>{{ t['moedas_em_jogo'] }}🪙 em jogo</p>
          {% if t['apoiadores'] %}<p style="display: inline" class="card-text">Apoiadores:{% for a in t['apoiadores'] %}
          <br> - {{ a['nome'] }} {{ a['valor'] }}🪙
          {% if a['nome'] == info['username'] %}<form style="display: inline" action="{{ url_for('moedas.removeapoio') }}" method="post" class="">
            <button title="Remover apoio" type="submit" class="btn btn-outline-danger btn-sm">x</button>
            <input type="hidden" name="time_apoio" value="{{ t['time'] }}" id="time_apoio">
            <input type="hidden" name="valor_apoio" value="{{ a['valor'] }}" id="valor_apoio">
          </form>{% endif %}
          {% endfor %}</p>{% endif %}
            {% if info['userlogado'] %}{% if t['apoio_liberado'] %}
            <form action="{% if t['patrocinador'] == info['username'] %}{{ url_for('moedas.addvalorpat') }}{% else %}{{ url_for('moedas.addapoio') }}{% endif %}" method="post" class="text-end">
                <input type="hidden" name="time_apoio" value="{{ t['time'] }}" id="time_apoio">
                <input style="max-width: 5rem" type="number" name="valor_apoio" id="valor_apoio" width="10px" value="0" min="1" max="{{ user_info['saldo'] }}">
                <button title="Adicionar apoio" type="submit" class="btn btn-outline-warning btn-sm">+</button>
            </form>
            {% endif %}{% endif %}
        </div>
    </div>
    {% endfor %}</div>{% endif %}
      
</div>

</div>

<div class="row scoll-pane">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <h3>Resultado geral</h3>
        <table class="tab_gokopa">
            <tr>
                <th title="Posição">#</th>
                <th style="min-width: 100px;">Nome</th>
                <th style="min-width: 50px;">Total</th>
                <th title="Investimento" style="min-width: 50px;">Inv.</th>
                <th title="Saldo" style="min-width: 50px;">Saldo</th>
            </tr>
            {% for item in info['moedas_board'] %}
            <tr>
                <td>{{ item['pos'] }}</td>
                <td>{{ item['nome'] }}</td>
                <td>{{ item['total'] }} 🪙</td>
                <td>{{ item['investido'] }} 🪙</td>
                <td>{{ item['saldo'] }} 🪙</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 smallt center">
        <h3>Jogos próximos</h3>
        {% if info['jogos'] %}
        <ul class="list-group m-2">
          {% for j in info['jogos'] %}
            <li class="list-group-item">({{ j['time1_valor'] }}🪙) {% if j['pat1'] != '-' %}<b title="{{ j['pat1'] }}">{{ j['time1'] }}</b>{% else %}{{ j['time1'] }}{% endif %} <img class="flag" src="../static/img/flag/{{ j['time1'] }}.png" onerror="this.src='../static/img/flag/default.png'"> x <img class="flag" src="../static/img/flag/{{ j['time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {% if j['pat2'] != '-' %}<b title="{{ j['pat2'] }}">{{ j['time2'] }}</b>{% else %}{{ j['time2'] }}{% endif %} ({{ j['time2_valor'] }}🪙)<br>
            {{ j['moedas_em_jogo'] }}🪙 em jogo</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Sem jogos para exibir.</p>
        {% endif %}
        <h3>Jogos recentes</h3>
        {% if info['ultimos_jogos'] %}
        <ul class="list-group m-2">
          {% for j in info['ultimos_jogos'] %}
            <li class="list-group-item">
                ({{ j['time1_valor'] }}🪙) {% if j['pat1'] != '-' %}<b title="{{ j['pat1'] }}">{{ j['time1'] }}</b>{% else %}{{ j['time1'] }}{% endif %} <img class="flag" src="../static/img/flag/{{ j['time1'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ j['p1'] }}x{{ j['p2'] }} <img class="flag" src="../static/img/flag/{{ j['time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {% if j['pat2'] != '-' %}<b title="{{ j['pat2'] }}">{{ j['time2'] }}</b>{% else %}{{ j['time2'] }}{% endif %} ({{ j['time2_valor'] }}🪙)<br>
            {% if j['processado'] %}{{ j['moedas_em_jogo'] }}🪙 em jogo{% else %}a processar{% endif %}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Sem jogos para exibir.</p>
        {% endif %}
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 smallt center">
        <h3>Logs de moedas</h3>
        <table class="tab_gokopa smallt mb-3" id="logtable">
            <tr>
                <th title="LogId">Data</th>
                <th style="min-width: 20px;">Nome</th>
                <th style="min-width: 20px;">Time</th>
                <th style="min-width: 20px;">🪙</th>
                <th style="min-width: 100px;">Descrição</th>
            </tr>
            {% for l in info['logs'][info['logsindex']*80:info['logsindex']*80+80] %}
            <tr>
                <td title="{{ l['lid'] }}">{{ l['data'] }}</td>
                <td>{% if info['username'] == l['nome'] %}<b>{{ l['nome'] }}</b>{% else %}{{ l['nome'] }}{% endif %}</td>
                <td><img class="flag" src="../static/img/flag/{{ l['time'] }}.png" onerror="this.src='../static/img/flag/default.png'"></td>
                <td>{{ l['moedas'] }}</td>
                <td style="text-align: left;">{{ l['msg'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item {% if info['logsindex'] == 0 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('moedas.gamemoedas',pageind=0) }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% for i in range(info['logspages']) %}
              <li class="page-item {% if info['logsindex'] == i %}disabled{% endif %}"><a class="page-link" href="{{ url_for('moedas.gamemoedas',pageind=i) }}">{{ i + 1 }}</a></li>
              {% endfor %}
              <li class="page-item">
                <a class="page-link {% if info['logsindex'] == info['logspages']-1 %}disabled{% endif %}" href="{{ url_for('moedas.gamemoedas',pageind=info['logspages']-1) }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

    </div>
</div>

{% endblock %}