{% extends "base.html" %}
{% block content %}

<h2 class="m-3">Gokopa News</h2>
<div class="row scoll-pane">
  <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Compacto</h5>
        <h8 class="card-subtitle mb-3 text-muted smallt">data</h8>
        <p class="card-text">
          <iframe width="100%" src="https://www.youtube.com/embed/_6nJ0ec2c-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
      </div>
    </div>
  </div> -->
  
  {% for n in news['news'] %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
    <div class="card">
      {% if n['img'] %}{% if n['img'] != 'youtube' %}<img src="../static/img/data/news/{{ n['img'] }}" onerror="this.src='../static/img/flag/default.png'" class="card-img-top">{% endif %}{% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ n['titulo'] }}</h5>
        <h8 class="card-subtitle mb-3 text-muted smallt">{{ n['data'] }}</h8>
        <p class="card-text">
          {% if n['img'] == 'youtube' %}
          <iframe width="100%" src="https://www.youtube.com/embed/{{ n['link'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          {% endif %}
          {% autoescape false %}{{ n['texto'] }}{% endautoescape %}</p>
        {% if n['linkname'] %}<a href="{{ n['link'] }}" class="card-link">{{ n['linkname'] }}</a>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  <p class="center m-3">Veja notícias de edições antigas: <a href="/noticias23">Gokopa23</a> <a href="/noticias22">Gokopa22</a></p>

</div>

{% endblock %}