{% extends "base.html" %}
{% block content %}

<div class="row scoll-pane">

    <div class="texto">
        <h2 class="center">Regras</h2>
        <h4>Inscrição no bolão e uso do site</h4>
        <p>1. A inscrição deverá ser feita com o administrador do bolão, e o usuário receberá uma mensagem com informações de login.</p>
        <p>2. Será gerada uma senha temporária que deverá ser trocada.</p>
        <p>3. Esquecimento de senha ou quaisquer problemas técnicos devem ser informados ao administrador.</p>
        <p>4. Ao se cadastrar no site e participar do bolão, o usuário confirma estar de acordo com essas regras.</p>
        <!-- <p>5. Haverá um evento de testes em outubro, no qual todos estarão previamente inscritos. O evento é opcional e não tem relação com o bolão, pagamento e prêmios. Para participar, é preciso acessar o site antes do evento para ativar a conta.</p>
        <p>6. Após o evento de testes, a participação do usuário no bolão da copa estará condicionada ao pagamento da taxa de R$ 50,00, que serão convertidos integralmente aos prêmios.</p>
        <p>7. A partir do primeiro dia da copa, não haverá devolução da taxa em caso de desistência de participação.</p> -->
        <h4>Apostas e Pontuação</h4>
        <p>1. Cada palpite em um jogo terá pontuação de acordo com os itens. O placar válido é o placar do final da prorrogação, se houver. Entre parênteses, exemplos de palpites que ganhariam essa pontuação para os placares 2x1 e 2x2.</p>
        <ul>
          <li>Placar cheio: 10 pontos (<b>2x1</b>: 2x1 / <b>2x2</b>: 2x2)</li>
          <li>Placar próximo 1, 1 gol de direfença, mesmo saldo e acerto do vencedor/empate: 7 pontos (<b>2x1</b>: 1x0 3x2 / <b>2x2</b>: 1x1 3x3)</li>
          <li>Placar próximo 2, acertar placar do vencedor mas com 1 gol de direfença do perdedor: 6 pontos (<b>2x1</b>: 2x0)</li>
          <li>Placar próximo 3, acertar placar do perdedor e 1 gol de diferença do vencedor, ou mesmo saldo com 2 gols de direfença: 5 pontos (<b>2x1</b>: 3x1 4x3 / <b>2x2</b>: 0x0 4x4)</li>
          <li>Acertar placar vencedor ou empate: 4 pontos (<b>2x1</b>: 4x2 3x0 10x3 ... / <b>2x2</b>: 5x5 9x9 ...)</li>
          <li>Demais casos: 0 pontos (<b>2x1</b>: 1x1 0x3 1x2 ... / <b>2x2</b>: 2x1 1x2 0x4 ...)</li>
          <li>Em caso de errar placar mas acertar quem passa no jogo eliminatório: 2 pontos</li>
        </ul>
        <p>2. A pontuação de cada jogo será multiplicada por seu peso de acordo com a tabela abaixo, e somada à pontuação geral da copa.</p>
        <table class="tab_gokopa tabelas">
          <tr>
            <th>Fase</th>
            <th>Peso</th>
          </tr>
          <tr>
            <td>Fase inicial e 4as das taças</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Semi-finais das taças</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Finais das taças</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Taça Mundial (exceto final)</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Final da Taça Mundial</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Copa 1ª e 2ª rodada</td>
            <td>4</td>
          </tr>
          <tr>
            <td>3ª rodada</td>
            <td>4</td>
          </tr>
          <tr>
            <td>16-avos-de-final</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Oitavas-de-final</td>
            <td>6</td>
          </tr>
          <tr>
            <td>Quartas-de-final</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Semi-final</td>
            <td>10</td>
          </tr>
          <tr>
            <td>D. 3º lugar</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Final</td>
            <td>15</td>
          </tr>
        </table>
        <p>3. A vitória do bolão será de acordo com a pontuação total, obtida ao final da copa</p>
        <p>4. Como critério de desempate, temos: placar cheio; pontuação na final; pontuação na d. 3º lugar; pontuação na semi-final; e assim por diante.</p>
        <p>5. A aposta só é valida até o início programado do jogo. Não serão aceitas apostas após isso, mesmo em caso de lentidão ou indisponibilidade temporária do site, portanto, é recomendado adiantar as apostas.</p>
        <p>6. Após início do jogo, as apostas de todos os jogadores estarão disponíveis para conferência. Elas não poderão mais ser alteradas.</p>
        <!-- <p>7. O administrador do bolão também irá particiar, e se compromete a não olhar resultados de apostas dos demais antes do permitido, salvo em caso de extrema necessidade de algum bug pontual no site.</p>
        <h4>Premiação</h4>
        <p>1. A premiação do bolão seguirá as porcentagens definidas na tabela, relativas ao total de inscrições realizadas.<br>
        <b>Total de inscrições:</b> {{ premio[0] }} => R$ {{ premio[4] }}</p>
        <p>2. Será realizado o depósito aos vencedores ao final da competição de acordo com a tabela abaixo. Os valores podem mudar caso hajam novas inscrições até o início da copa.</p>
        <table class="tab_gokopa tabelas">
          <tr>
            <td>1º lugar</td>
            <td>60%</td>
            <td>R$ {{ premio[1] }}</td>
          </tr>
          <tr>
            <td>2º lugar</td>
            <td>30%</td>
            <td>R$ {{ premio[2] }}</td>
          </tr>
          <tr>
            <td>3º lugar</td>
            <td>10%</td>
            <td>R$ {{ premio[3] }}</td>
          </tr>
        </table> -->
    </div>


  
  </div>

{% endblock %}