{% extends "base.html" %}
{% block content %}

<div class="row scoll-pane">

    <div class="texto">
        <h2 class="center">Sobre</h2>
        <p>Esta página faz parte de um universo de copas do mundo criado por mim, e um sistema de apostas para esse universo. O site também foi adaptado para apostas nos jogos da Copa do Mundo.</p>
        <p>Caso queira entrar em contato para participar do bolão ou para saber mais do sistema, utilize um dos meios abaixo.</p>
        <p class="center"><a target="_blank" href="mailto:leafarlins@gmail.com" class="fa fa-envelope"></a> <a target="_blank" href="http://twitter.com/@leafarlins" class="fa fa-twitter"></a> <a target="_blank" href="http://facebook.com/leafarlins" class="fa fa-facebook"></a> <a target="_blank" href="http://github.com/leafarlins" class="fa fa-github"></a> <a target="_blank" href="https://www.linkedin.com/in/rafael-lins-bb757272/" class="fa fa-linkedin"></a></p>
        <p class="text-center">Gokopa do Mundo v1.6.2
    </div>


  
  </div>

{% endblock %}