{% extends "base.html" %}
{% block content %}

<h2 class="mt-3">Situação do sorteio do ano {{ dados['ano'] }}</h2>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center" role="alert">
            {{ message }}
        </div>
{% endfor %} {% endif %} {% endwith %}


<div class="container">

{% if pots[0]['potname'] == "Cabeças" %}
    {% set torneios = ['Copa do Mundo'] %}
{% else %}
    {% set torneios = ['Taça Europa','Taça América','Taça Ásia-Oceania','Taça África'] %}
{% endif %}
{% for torneio in torneios %}
{% if dados['competicao'][torneio] %}

<a href="#{{ torneio }}"></a><h3 id="{{ torneio }}" class="mb-3">{{ torneio }}</h3>
    <!-- <a id="displayText" href="javascript:toggle();">mostrar mais</a></p> -->

<!-- <div id="toggleText" style="display: none" class=".container-fluid"> -->
    <div class="row">
        {% for i in dados['competicao'][torneio]['grupos'] %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-3">
                <table class="tab_gokopa tabelas">
                    <tr>
                        <th>Grupo {{ i }}</th>
                        <th title="Ranking">R</th>
                    </tr>
                    {% for team in dados['competicao'][torneio]['grupos'][i]['tabela']['times'] %}
                        <tr>
                            <td>
                                <img class="flag" src="../static/img/flag/{{ team }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ team }}</td>
                            <td class="smallt">{{ dados['competicao'][torneio]['grupos'][i]['tabela']['pontos'][team][3] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        
        {% endfor %}
    </div>
    
{% endif %}{% endfor %}

<h3 class="mb-3">Potes de sorteio</h3>
<div class="row">
    {% for i in pots %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-3">
            <table class="tab_gokopa tabelas">
                <tr>
                    <th>Pote {{ i['potname'] }}</th>
                    <th title="Ranking">R</th>
                </tr>
                {% for team in i['times'] %}
                    <tr>
                        <td>
                        {% if team['sorteado'] %}
                            <s>{{ team['nome'] }}</s></td>
                        {% else %}
                            <img class="flag" src="../static/img/flag/{{ team['nome'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ team['nome'] }}</td>
                        {% endif %}
                        <td class="smallt">{{ team['rank'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    
    {% endfor %}
</div>

</div>

{% endblock %}
