{% extends "base.html" %}
{% block content %}

<h2>Tabela do ano 21</h2>
<p class="center">O ano 21 é especial em homenagem à Copa do Mundo 2022 no Qatar. O Bahreim irá substituir o Qatar na simulação da gokopa.</p>

<div class=".container-fluid">


<h2 id="Copa">Copa do Mundo</h2>
<p class="center">Copa do Mundo será disputada com 32 times, no Qatar, com tabela similar à da Copa do Mundo de 2022.</p>
    <!-- <a id="displayText" href="javascript:toggle();">mostrar mais</a></p> -->

<!-- <div id="toggleText" style="display: none" class=".container-fluid"> -->
    <div class="row scoll-pane">
        {% for i in range(0,8) %}
            <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
                <table class="tab_gokopa tabelas">
                    <tr>
                        <th>Grupo {{ labels[i] }}</th>
                        <th title="Pontos">P</th>
                        <th title="Saldo">S</th>
                        <th title="Gols">G</th>
                    </tr>
                    {% for team in tabelas[(i)*4:4+(i)*4] %}
                        <tr>
                            <td>
                                <img class="flag" src="static/img/flag/{{ team['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ team['nome'] }}</td>
                            <td>{{ team['P'] }}</td>
                            <td>{{ team['S'] }}</td>
                            <td>{{ team['G'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        
            <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
                {% for j in jogos_id[i] %}
                <table class="tab_gokopa tab_jogos">
                    <tr>
                        <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                        <td>{{ lista_jogos[j]['Estadio'] }} 
                            <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if lista_jogos[j]['Time1'] %}
                                {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                            {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                            {% endif %}
                            {{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                            {% if lista_jogos[j]['Time2'] %}
                                <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                            {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
        
        {% endfor %}
    </div>
        
    <div class="row scoll-pane">
        <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
        <b><p class="center">Oitavas-de-final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% for j in (48,49,52,53,50,51,54,55) %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {% if lista_jogos[j]['pe1'] or lista_jogos[j]['pe1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }} pe: {{ lista_jogos[j]['pe1'] }}x{{ lista_jogos[j]['pe2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% elif lista_jogos[j]['tr1'] or lista_jogos[j]['tr1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% else %}{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% endif %}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
        <b><p class="center">Quartas-de-final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% for j in range(56,60) %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {% if lista_jogos[j]['pe1'] or lista_jogos[j]['pe1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }} pe: {{ lista_jogos[j]['pe1'] }}x{{ lista_jogos[j]['pe2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% elif lista_jogos[j]['tr1'] or lista_jogos[j]['tr1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% else %}{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% endif %}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    
        <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
        <b><p class="center">Semi-final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% for j in (60,61) %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {% if lista_jogos[j]['pe1'] or lista_jogos[j]['pe1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }} pe: {{ lista_jogos[j]['pe1'] }}x{{ lista_jogos[j]['pe2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% elif lista_jogos[j]['tr1'] or lista_jogos[j]['tr1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% else %}{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% endif %}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    
        <p>&nbsp;</p><b><p class="center">D.3º Lugar</p></b>
        <table class="tab_gokopa tab_jogos">
            {% set j = 62 %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {% if lista_jogos[j]['pe1'] or lista_jogos[j]['pe1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }} pe: {{ lista_jogos[j]['pe1'] }}x{{ lista_jogos[j]['pe2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% elif lista_jogos[j]['tr1'] or lista_jogos[j]['tr1'] == 0 %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% else %}{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% endif %}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
    
        <p>&nbsp;</p><b><p class="center">Final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% set j = 63 %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {% if lista_jogos[j]['pe1'] %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }} pe: {{ lista_jogos[j]['pe1'] }}x{{ lista_jogos[j]['pe2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% elif lista_jogos[j]['tr1'] %}
                        <b title="tr: {{ lista_jogos[j]['tr1'] }}x{{ lista_jogos[j]['tr2'] }}">{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}</b>
                    {% else %}{{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% endif %}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
        </div>
    
    </div>
        
<h2>Tabelas antigas</h2>
<p class="center">Veja as tabelas de gokopas antigas: <a href="tabela20">Gokopa20</a></p>
<p class="center">Veja o resumo das fases finais de <a href="tabelahis">todas as Gokopas</a></p>

</div>

{% endblock %}
