{% extends "base.html" %}
{% block content %}

<h2>Tabela do ano {{ dados['ano'] }}</h2>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center" role="alert">
            {{ message }}
        </div>
{% endfor %} {% endif %} {% endwith %}
<p class="center">{{ dados['desc'] }}</p>

<div class=".container-fluid">


{% set torneios = ['Copa do Mundo','Taça Mundial','Taça América','Taça Europa','Taça Ásia-Oceania','Taça África'] %}
{% for torneio in torneios %}
{% if dados['competicao'][torneio] %}

<h2 id="Copa">{{ torneio }}</h2>
    <!-- <a id="displayText" href="javascript:toggle();">mostrar mais</a></p> -->

<!-- <div id="toggleText" style="display: none" class=".container-fluid"> -->
    <div class="row scoll-pane">
        {% for i in dados['competicao'][torneio]['grupos'] %}
            <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
                <table class="tab_gokopa tabelas">
                    <tr>
                        <th>Grupo {{ i }}</th>
                        <th title="Pontos">P</th>
                        <th title="Saldo">S</th>
                        <th title="Gols">G</th>
                    </tr>
                    {% for team in dados['competicao'][torneio]['grupos'][i]['tabela']['times'] %}
                        <tr>
                            <td>
                                <img class="flag" src="../static/img/flag/{{ team }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ team }}</td>
                            <td>{{ dados['competicao'][torneio]['grupos'][i]['tabela']['pontos'][team][0] }}</td>
                            <td>{{ dados['competicao'][torneio]['grupos'][i]['tabela']['pontos'][team][1] }}</td>
                            <td>{{ dados['competicao'][torneio]['grupos'][i]['tabela']['pontos'][team][2] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        
            <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
                {% for j in dados['competicao'][torneio]['grupos'][i]['jogos'] %}
                <table class="tab_gokopa tab_jogos">
                    <tr>
                        <td title="{{ j['Jogo'] }}">{{ j['Data'] }}</td>
                        <td>{{ j['Estadio'] }} 
                            <img class="miniflag" src="../static/img/flag/{{ j['Pais'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                {{ j['Time1'] }} <img class="flag" src="../static/img/flag/{{ j['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                            {{ j['p1'] }}x{{ j['p2'] }}
                                <img class="flag" src="../static/img/flag/{{ j['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ j['Time2'] }}
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
        
        {% endfor %}
    </div>
    
    {% if dados['competicao'][torneio]['eliminatorias']['outros'] %}
    <div class="row justify-content-md-center">
        <b><p class="center">Outros jogos</p></b>
        {% for j in dados['competicao'][torneio]['eliminatorias']['outros']['jogos'] %}
        <div class="col-12 col-sd-10 col-md-6 col-lg-4 col-xl-3">
            <table class="tab_gokopa tab_jogos">
                <tr>
                    <td title="{{ j['Jogo'] }}">{{ j['Data'] }}</td>
                    <td>{{ j['Estadio'] }} 
                        <img class="miniflag" src="../static/img/flag/{{ j['Pais'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {{ j['Time1'] }} <img class="flag" src="../static/img/flag/{{ j['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                        {% if j['pe1'] or j['pe2'] == 0 %}
                            <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }} pe: {{ j['pe1'] }}x{{ j['pe2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                        {% elif j['tr1'] or j['tr2'] == 0 %}
                            <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                        {% else %}{{ j['p1'] }}x{{ j['p2'] }}
                        {% endif %}
                        <img class="flag" src="../static/img/flag/{{ j['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ j['Time2'] }}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-md-center">
        {% set fases = ['16-avos-de-final','8vas-de-final','4as-de-final','Semi-final','D. 3º Lugar','Final'] %}
        {% for fase in fases %}
        {% if dados['competicao'][torneio]['eliminatorias'][fase] %}

        <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-3">
        <b><p class="center">{{ fase }}</p></b>
        <table class="tab_gokopa tab_jogos">
            {% for j in dados['competicao'][torneio]['eliminatorias'][fase]['jogos']  %}
            <tr>
                <td title="{{ j['Jogo'] }}">{{ j['Data'] }}</td>
                <td>{{ j['Estadio'] }} 
                    <img class="miniflag" src="../static/img/flag/{{ j['Pais'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ j['Time1'] }} <img class="flag" src="../static/img/flag/{{ j['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                    {% if j['pe1'] or j['pe2'] == 0 %}
                        <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }} pe: {{ j['pe1'] }}x{{ j['pe2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                    {% elif j['tr1'] or j['tr2'] == 0 %}
                        <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                    {% else %}{{ j['p1'] }}x{{ j['p2'] }}
                    {% endif %}
                    <img class="flag" src="../static/img/flag/{{ j['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ j['Time2'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>

        {% endif %}{% endfor %}
    
    </div>

{% endif %}{% endfor %}

{% if dados['outros'] %}
<div class="row justify-content-md-center">
    <h3>Outros jogos do ano</h3>
    {% for j in dados['outros'] %}
    <div class="col-12 col-sd-10 col-md-6 col-lg-4 col-xl-3">
        <p class="m-0 text-center smallt">{{ j['Competição'] }} - {{ j['Fase'] }}</p>
        <table class="tab_gokopa tab_jogos">
            <tr>
                <td title="{{ j['Jogo'] }}">{{ j['Data'] }}</td>
                <td>{{ j['Estadio'] }} 
                    <img class="miniflag" src="../static/img/flag/{{ j['Pais'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ j['Time1'] }} <img class="flag" src="../static/img/flag/{{ j['Time1'] }}.png" onerror="this.src='../static/img/flag/default.png'">
                    {% if j['pe1'] or j['pe2'] == 0 %}
                        <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }} pe: {{ j['pe1'] }}x{{ j['pe2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                    {% elif j['tr1'] or j['tr2'] == 0 %}
                        <b title="tr: {{ j['tr1'] }}x{{ j['tr2'] }}">{{ j['p1'] }}x{{ j['p2'] }}</b>
                    {% else %}{{ j['p1'] }}x{{ j['p2'] }}
                    {% endif %}
                    <img class="flag" src="../static/img/flag/{{ j['Time2'] }}.png" onerror="this.src='../static/img/flag/default.png'"> {{ j['Time2'] }}
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endif %}

<h2 class="m-3">Tabelas antigas</h2>
<p class="center">Veja as tabelas de gokopas antigas: <a href="tabela21">Gokopa21</a> <a href="tabela20">Gokopa20</a></p>
<p class="center">Veja o resumo das fases finais de <a href="tabelahis">todas as Gokopas</a></p>
<p class="center">Veja as tabelas das copas do mundo: <a href="tabela2022">Gokopa2022</a> <a href="tabela2022">Copa 2022</a></p>


</div>

{% endblock %}
