{% extends "base.html" %}
{% block content %}

<h2>Tabela do ano 20</h2>
<p class="center">O ano 20 será composto por <a href="#Regionais">Copas Regionais</a>, <a href="#Taca">Taça Mundial</a> com os campeões e a <a href="#Copa">Copa do Mundo</a> na versão de 32 seleções.</p>


<h2 id="Regionais">Copas Regionais</h2>
<p class="center">As copas regionais estão divididas em 4 Taças: <a href="#Europa">Europa</a>, <a href="#Africa">África</a>, <a href="#Asia">Ásia-Oceania</a> e <a href="#America">América</a>. Os melhores colocados são classificados para a copa e os campeões disputam a <a href="#Taca">Taça Mundial</a>.</p>

<div class=".container-fluid">
<h3 id="Europa">Taça Europa</h3>

<div class="row scoll-pane">
{% for i in range(8) %}
    <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        <table class="tab_gokopa tabelas">
            <tr>
                <th>Grupo {{ labels[i] }}</th>
                <th title="Pontos">P</th>
                <th title="Saldo">S</th>
                <th title="Gols">G</th>
            </tr>
            {% for team in tabelas[i*3:i*3+3] %}
                <tr>
                    <td>
                        <img class="flag" src="static/img/flag/{{ team['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ team['nome'] }}</td>
                    <td>{{ team['P'] }}</td>
                    <td>{{ team['S'] }}</td>
                    <td>{{ team['G'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="sectionj col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        {% for j in jogos_id[i] %}
        <table class="tab_gokopa tab_jogos">
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    {{ lista_jogos[j]['p1'] }}x{{ lista_jogos[j]['p2'] }}
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>

{% endfor %}
</div>

<div class="row scoll-pane">
  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
    <b><p class="center">Oitavas-de-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(60,68) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
    <b><p class="center">Quartas-de-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in (80,82,81,83) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-4 col-xl-4">
    <b><p class="center">Semi-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in (90,91) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p><b><p class="center">Final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% set j = 95 %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
    </table>
  </div>

</div>



<h3 id="Africa">Taça África</h3>
<div class="row scoll-pane">
{% for i in range(8,12) %}
    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        <table class="tab_gokopa tabelas">
            <tr>
                <th>Grupo {{ labels[i] }}</th>
                <th title="Pontos">P</th>
                <th title="Saldo">S</th>
                <th title="Gols">G</th>
            </tr>
            {% for team in tabelas[i*3:i*3+3] %}
                <tr>
                    <td>
                        <img class="flag" src="static/img/flag/{{ team['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ team['nome'] }}</td>
                    <td>{{ team['P'] }}</td>
                    <td>{{ team['S'] }}</td>
                    <td>{{ team['G'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        {% for j in jogos_id[i] %}
        <table class="tab_gokopa tab_jogos">
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>

{% endfor %}
</div>

<div class="row scoll-pane center">
  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Quartas-de-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(68,72) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Semi-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(84,86) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p><b><p class="center">Final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% set j = 92 %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
    </table>
  </div>

</div>

<h3 id="Asia">Taça Ásia-Oceania</h3>
<div class="row scoll-pane">
{% for i in range(12,16) %}
    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        <table class="tab_gokopa tabelas">
            <tr>
                <th>Grupo {{ labels[i] }}</th>
                <th title="Pontos">P</th>
                <th title="Saldo">S</th>
                <th title="Gols">G</th>
            </tr>
            {% for team in tabelas[i*3:i*3+3] %}
                <tr>
                    <td>
                        <img class="flag" src="static/img/flag/{{ team['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ team['nome'] }}</td>
                    <td>{{ team['P'] }}</td>
                    <td>{{ team['S'] }}</td>
                    <td>{{ team['G'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        {% for j in jogos_id[i] %}
        <table class="tab_gokopa tab_jogos">
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>

{% endfor %}
</div>

<div class="row scoll-pane center">
  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Quartas-de-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(72,76) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Semi-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(86,88) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p><b><p class="center">Final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% set j = 93 %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
    </table>
  </div>

</div>

<h3 id="America">Taça América</h3>
<div class="row scoll-pane">
{% for i in range(16,20) %}
    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        <table class="tab_gokopa tabelas">
            <tr>
                <th>Grupo {{ labels[i] }}</th>
                <th title="Pontos">P</th>
                <th title="Saldo">S</th>
                <th title="Gols">G</th>
            </tr>
            {% for team in tabelas[i*3:i*3+3] %}
                <tr>
                    <td>
                        <img class="flag" src="static/img/flag/{{ team['nome'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ team['nome'] }}</td>
                    <td>{{ team['P'] }}</td>
                    <td>{{ team['S'] }}</td>
                    <td>{{ team['G'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tabelaspd col-12 col-sd-12 col-md-6 col-lg-6 col-xl-3">
        {% for j in jogos_id[i] %}
        <table class="tab_gokopa tab_jogos">
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>

{% endfor %}
</div>

<div class="row scoll-pane center">
  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Quartas-de-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(76,80) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-6">
    <b><p class="center">Semi-final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% for j in range(88,90) %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>&nbsp;</p><b><p class="center">Final</p></b>
    <table class="tab_gokopa tab_jogos">
        {% set j = 94 %}
        <tr>
            <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
            <td>{{ lista_jogos[j]['Estadio'] }} 
                <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% if lista_jogos[j]['Time1'] %}
                    {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                {% endif %}
                x 
                {% if lista_jogos[j]['Time2'] %}
                    <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                {% endif %}
            </td>
        </tr>
    </table>
  </div>

</div>

<h3 id="Taca">Taça Mundial</h3>
<div class="row scoll-pane center">
    <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-4">
        <b><p class="center">Semi-final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% for j in range(96,98) %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-4">
        <p>&nbsp;</p><b><p class="center">D. 3º Lugar</p></b>
        <table class="tab_gokopa tab_jogos">
            {% set j = 98 %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-4">
        <p>&nbsp;</p><b><p class="center">Final</p></b>
        <table class="tab_gokopa tab_jogos">
            {% set j = 99 %}
            <tr>
                <td title="{{ lista_jogos[j]['Jogo'] }}">{{ lista_jogos[j]['Data'] }}</td>
                <td>{{ lista_jogos[j]['Estadio'] }} 
                    <img class="miniflag" src="static/img/flag/{{ lista_jogos[j]['Pais'] }}.png" onerror="this.src='static/img/flag/default.png'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if lista_jogos[j]['Time1'] %}
                        {{ lista_jogos[j]['Time1'] }} <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time1'] }}.png" onerror="this.src='static/img/flag/default.png'">
                    {% else %}{{ lista_jogos[j]['desc1'] }} <img class="flag" src='static/img/flag/default.png'>
                    {% endif %}
                    x 
                    {% if lista_jogos[j]['Time2'] %}
                        <img class="flag" src="static/img/flag/{{ lista_jogos[j]['Time2'] }}.png" onerror="this.src='static/img/flag/default.png'"> {{ lista_jogos[j]['Time2'] }}
                    {% else %}<img class="flag" src='static/img/flag/default.png'> {{ lista_jogos[j]['desc2'] }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<h3 id="Copa">Copa do Mundo</h3>
<div class="row scoll-pane center">
    <div class="tabelaspd col-12 col-sd-10 col-md-6 col-lg-6 col-xl-4">
    <p>Ainda não há tabela da copa disponível.</p>
    </div>
</div>

</div>

{% endblock %}
